*{
  text-align: center !important;
}

@font-face {
  font-family: "DTM-Sans";
  src: url(DTM-Sans.otf);
}

@font-face {
  font-family: "DTM-Mono";
  src: url(DTM-Mono.otf);
}
body {
  font-family: "DTM-Sans";
  background-color: black;
  color: white
}

#myHeadshot {
  border-radius: 50%;
  	width: 200px;
  	height: auto;
}

#quote {
  font-style: italic;
  font-size: 80%;
}
#contact {
  font-family: "DTM-Mono";
  margin:auto !important;
  padding-bottom:10px;
}

#bio{
  padding-bottom: 10px;
}
